 /* General Styles */
 body{
        font-family: "Comic Neue";
        background: #F1F4FE;
        margin: 0%;
        padding: 0%;
        
        
}
html{
    font-size: 62.5%;
}
.nav-container{
    width:100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F4FE;
    padding: 16px 12rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.nav-left{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav-left a{
text-decoration: none;
}
.arrow-left{
    color:#000000;
    margin-right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}
.nav-left-text {
    font-weight: bold;
    color:#000000;
    font-size: 2rem;
    font-weight: 500;
}
.nav-right{
    display: flex;
    align-items: center;
}
.points-section{
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
    font-size: 2rem;
    font-weight: 500;
}
.star-icon{
    margin-right: 0.6rem;
    font-size: 2rem;
    font-weight: 500;

}
.initial-icon img{
    width:4.6rem;
    height:4.6rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFDB5B;
    border-radius: 50%;
    font-weight: 600;
    color:#000000;
}
/* Main Content */
.main-container{
    display: flex;
    gap:2rem;
    padding:2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.progress-section{
    width:282px;
    height: 412px;
    background-color: #FFFFFF;
    padding: 2.4rem;
    border-radius:12px ;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.progress-section h2{
    font-size: 2rem;
    font-weight:700 ;
    line-height:30px ;
    color:#000000;
}
.progress-section p{
    font-size: 1.28rem;
    line-height: 19.2px;
    font-weight: 400;
    color:#000000;
}
.progress-bar-container span{
    color:#000000;
    font-family: "poppins";
}





.progress-bar-container{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 1.28rem;
    font-weight: 400;
    line-height: 19.2px;
    margin-bottom: 32px;
}
.progress-bar{
    width:100%;
    background-color: #D9D9D9;
    height: 8px;
    border-radius: 10px;
    margin-top: 0.5rem;
    position: relative;
    overflow: hidden;
}
.progress-fill{
    width:75%;
    height:100%;
    background-color: #FFDB5B;
    position: absolute;
}
.module-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 43px;
    font-size: 1.4rem;
    
}
.module-icon{
    width:2rem;
    height:2rem;
    margin-right: 0.5rem;
}
.module-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.module-text .module-status{
    font-weight: 400;
    font-size: 1.024rem;
    line-height: 15.36px;
    color:#04D204;
}
.module-item i{
    color:#292D32;
    font-size: 16px;
    margin-left: auto;
}
/* Main Video Section */
.video-section{
    margin: 0 auto 2rem;
    margin-top: 3rem;
    width:100%;
    max-width: 1200px;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.video-placeholder{
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(234, 243, 254, 1) ;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
.play-icon{
    width:10%;
    opacity: 0.8;
}
.video-description{
    text-align: justify;
    width:100%;
}
.video-description h2{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 37.5px;
    color:#000000;
}
.video-description p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height:24px ;
    margin: 0.5rem 0 1.5rem;
    color:#000000;
}
.btn{
    width:139px;
    height:43px;
    font-size: 1.28rem;
    font-weight: 500;
    line-height: 19.2px;
    color:#2D2D2D;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 8rem;
    border: none;
    margin-right: 8px;
    cursor: pointer;
}
.btn-yellow{
    background-color: #FFC909;
}
.btn-outline{
    background-color:#D7D7D7 ;
}
/* Right Sidebar - Today's Goals */
.goals-section{
    width:25%;
    height: 256px;
    background-color:#FFFFFF ;
    padding: 2.4rem;
    border-radius: 1.2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.goals-section h2{
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 30px;

}
.goal-item{
    display: flex;
   flex-direction: column;
   margin-bottom: 3rem;
   color:#C3C3C3;
   font-size: 1.28rem;
   line-height: 19.2px;
   font-weight: 400;
}
.goal-item span{
    font-size: 1.024rem;
    font-weight: 400;
    line-height: 15.36px;
    color: #FFC909;
}
/* Bottom Section - Quick Quiz & Savings Game */
.bottom-section{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}
.bottom-card{
  
    height:183px;
    background-color: #FFFFFF;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left;
}
.bottom-card h4{
    color:#000000;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 600;
}
.bottom-card p{
    color:#000000;
    font-size: 1.28rem;
    line-height: 19.2px;
    font-weight: 400;

}
.bottom-card a{
    font-size:1.6rem ;
    line-height: 24px;
    font-weight: 500;
    color:#878787 ;
    text-decoration: none;
}





