@media (max-width: 500px) {
  .normaltext {
    font-size: 1.09rem;
  }
  li {
    font-size: 1.09rem;
  }
  .boldertext {
    font-size: 1.4rem;
  }

  header {
    background-image: url("Wealth4Kids/Frame 427318701 (5).jpg") !important ;
    height: 90vh;
  }
  section {
    padding: 2rem 1rem !important;
  }

  .strectcher {
    padding: 0 25rem;
  }

  .footerlist {
    flex-direction: column;
  }
  .hidder {
    display: block !important;
  }
  .hider {
    display: none;
  }
  .diifer {
    flex-direction: column !important;
    display: flex !important;
    align-items: center;
    gap: 2rem !important;
    margin-top: 2rem;
  }
  footer h3 {
    font-size: 1.8rem !important;
  }
}
