* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 52.2%;
}
:root {
  --mainfont: 2.25rem;
  --smallerfont: 1.29rem;
}
header {
  background-image: url("Wealth4Kids/Frame 427318701 (2).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
.boldertext {
  font-size: var(--mainfont);
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  padding-bottom: 2rem;
  font-style: normal;
}
.normaltext {
  font-size: var(--smallerfont);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
section {
  padding: 2rem 7rem;
}
.container {
  /* max-width: 1140px;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 12rem;
}
li {
  font-size: var(--smallerfont);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3rem;
}

footer {
  background-image: url("Wealth4Kids/Footer.png");
  padding: 7rem 0;

  color: white;
}
.overlay {
  color: grey !important;
}
a {
  text-decoration: none;
  color: black;
}

footer .row {
  justify-content: space-between;
}
footer li {
  list-style: none;
}
footer p {
  font-size: 1rem;
  color: grey;
}
footer li :hover {
  color: white;
}
.social-icons img:hover {
  color: white;
}

footer h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
z footer ul {
  list-style: none;
  padding: 0;
}
.padd-down {
  margin: 4rem 0;
}
footer li {
  margin-bottom: 0.5rem;
}

footer a {
  color: grey;
  text-decoration: none;
}

.footerlist {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1.8rem;
}
.footerlists {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 1.8rem;
}
.hidder {
  display: none;
}
.footer-links {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 2rem;
}
.footer-links h3 {
  font-size: 2.2rem;
}

.social-icons {
  display: inline-flex;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.social-icons img {
  width: 15%;
}
