body{
    font-family: "Comic Neue";
    background: rgba(234, 243, 254, 1);
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
html{
    font-size: 62.5%;
}
.container{
    background-color: rgba(255, 255, 255, 1);

    width: 400px;
   
    margin-top: 63px;
    left: 415px;
    padding: 32px 40px 64px 40px;
    gap: 32px;
    border-radius: 16px ;
    opacity: 0px;
}
.display-image{
    text-align: center;
}
.display-image i{
font-size: 5rem;
gap: 0px;
opacity: 0px;
}
h1{
font-family: "Comic Nue";
font-size: 2rem;
font-weight: 500;
line-height: 30px;
text-align: center;
}
.form-group{
    width: Fill (530px)px;
    height: Hug (595px)px;
    margin-bottom: 16px;
}
label{
    font-size: 1.44rem;
    color:rgba(90, 90, 90, 1);
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="date"] {
    width:384px;
    height:57px;
    padding:16px 0 0 0 ;
    margin-bottom: 8px;
    border-radius: 8px ;
    border-width: 1px;
    border:1px solid #D7D7D7;
    padding: 5px;
    transition: opacity 0.3s ease-in-out;
}
input[type="text"]:focus,
input[type="password"] :focus,
input[type="date"]:focus{
border-color: #FFC909;

}
.password-options{
    display: flex;
    gap:24px;
    align-items: center;
}
.password-options label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.password-options input[type="radio"]{
    margin-right: 5px;
    color:#444444;
}
.gender-options label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.gender-options input[type="radio"]{
    margin-right: 5px;
    color:
}
.gender-options{
    display: flex;
    gap:48px;
    align-items: center;
}
.gender-options label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.gender-options input[type="radio"]{
    margin-right: 5px;
}
button.register-btn{
    width:384px;
    padding: 56px;
    padding: 16px 20px;
    margin-top:8px;
    border-radius: 80px;
    border:none;
    background-color:  rgba(7, 117, 239, 1);
    font-size: 16px;
    font-weight: 500;
    color: #2D2D2D;
    line-height: 24px;
    margin-top: 16px;
    transition: opacity 0.3s ease-in-out, background-color 0.3s;
}
button.register-btn a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
button.register-btn:hover{
    background-color:  rgb(101, 153, 212);
    opacity: 0.9;
}
#passwordField{
    color: #444444;

}
.form-group label{
    color: #5A5A5A;

}