@media (max-width: 500px) {
  .achievement-container {
    flex-direction: column !important;
    align-items: center;
  }
  .achievement {
    width: 90% !important;
  }

  h1 {
    margin-left: 0.2rem !important;
  }
  header {
    flex-direction: column;
    padding: 0.5rem 2rem !important;
    align-items: start;
  }
}
