/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.2%;
}
body {
  font-size: 1.3rem; /* Base font size in REM */

  font-family: "Comic Neue";
  font-style: normal;
  background-color: #f0f0f0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* Container styles */
.container {
  max-width: 80rem;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.button-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 95%;
}
.parent-login,
.tutor-login {
  display: flex;
  height: 2.5rem;

  justify-content: center;
  align-items: center;
}

button {
  padding: 1rem 2rem;
  border: none;
  font-family: "Comic Neue";
  font-style: normal;

  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.parent-login {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.parent-login:hover {
  background-color: #ccc;
}

.tutor-login {
  background-color: #007bff;
  color: #fff;
}

.tutor-login:hover {
  background-color: #0069d9;
}

/* Login form styles */
.login-form {
  background-color: #fff;
  border-radius: 0.5rem;
  /*  display: flex;
  justify-content: center;
  */
  padding: 2.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
a {
  color: blue;
  text-decoration: none;
}
.hip {
  float: right;
  margin: 1rem 0;
  padding-top: 1rem;
}
.ma {
  margin-right: 2rem;
}
/* Form elements styles */
h1 {
  text-align: center;
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 107%;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.button1 {
  width: 107%;
  background-color: lightblue;
  color: #000;
  border: none;
  font-family: "Comic Neue";
  font-style: normal;

  padding: 1.6rem 2rem;
  margin-top: 2.5rem;
  font-size: 1.8rem;
  border-radius: 2.9rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #ffd700;
}
.parent {
  font-size: 2.2rem;
  font-weight: 700;
}
.google-button,
.apple-button {
  display: block;
  width: 107%;
  padding: 1.7rem;
  font-size: 1.8rem;
  font-family: "Comic Neue";
  font-style: normal;

  border: none;
  border-radius: 2.9rem;

  border: 1px solid #edf2fe;
  background-color: #edf2fe;
  color: #2d2d2d;
  cursor: pointer;
}
.putdiv {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 1.5rem;
}

.google-button {
  border: 1px solid #edf2fe;
  background-color: #edf2fe;
  color: #2d2d2d;
}
.forflex {
  justify-content: center;
  display: flex;
  gap: 1.5rem;
  padding-bottom: 1.9rem;
  flex-direction: column;
}

.apple-button {
  border: 1px solid #edf2fe;
  background-color: #edf2fe;
  color: #2d2d2d;
}
.line-and-text {
  display: flex;
  align-items: center;
  width: 107%;
  justify-content: center;
}

.line {
  width: 45%;
  height: 1px;
  margin-right: 1rem;
  background-color: #ccc;
}

.liner {
  height: 1px;
  position: relative;
  width: 45%;
  background-color: #ccc;
}

.text {
  font-size: 1.8;
  color: #666;
  margin-right: 1rem;
}
.googled {
  position: relative;
  top: 0.4rem;
  right: 2rem;
}
.aligner {
  display: flex;
  justify-content: center;
}
.fa-apple {
  position: relative;
  right: 2.3rem;
}
/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}
